# .github/workflows/main.yaml
# Copyright 2024 Keith Maxwell
# SPDX-License-Identifier: Apache-2.0

on: # yamllint disable-line rule:truthy
  push: { branches: [main] }
  pull_request: { branches: [main] }
  workflow_dispatch:

jobs:
  selftest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: fsfe/reuse-action@676e2d560c9a403aa252096d99fcab3e1132b0f5 # v6
      - uses: ./
      - run: |
          incus launch images:debian/13/cloud c1
          incus exec c1 -- cloud-init status --wait
          incus exec c1 -- cat /etc/os-release
      - run: yamllint .
      - run: npm exec --yes embedme -- --verify README.md
  renovate-config-validator:
    # yamllint disable-line rule:line-length
    uses: maxwell-k/dotlocalslashbin/.github/workflows/renovate.yaml@4ace0219b0a7916820ad7aec29cb2895f0a7a7f7 # v0.0.25
# vim: set filetype=yaml.action :
